/*---body---*/

body {
    background: url("/assets/bg.jpg") center center;
    opacity: 1.9;
    background-attachment: fixed;
}


/*....Headers.....*/

nav.common {
    width: auto;
    background-color: black;
    position: relative;
}

.common img {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-top: 0px;
}

.lang {
    margin-left: 700px;
    margin-top: 0px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    outline: none;
    border-style: outset;
    border-color: black;
    border-left: 1px solid white;
}

.arrow-down {
    width: 0;
    height: 0;
    float: right;
    margin-top: 10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #f00;
}

.vas {
    margin-left: 2px;
    height: 40px;
    margin-top: 0px;
    font-weight: bold;
    color: white;
    outline: none;
    border-style: outset;
    background-color: black;
    border-color: black;
    border-left: 1px solid white;
}

#image2 {
    margin-left: 0px;
}

.topheader p {
    display: inline;
    color: white;
    margin-left: 5px;
    text-shadow: black;
}

#headersearch {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

nav.secondhead {
    width: auto;
    background-color: #233E95;
    height: 60px;
}

.secondhead img {
    width: 75px;
    height: 60px;
}

.stext {
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    font-weight: 200;
}

.brand {
    color: white;
    margin-top: 0px;
}

.topsecondheader p {
    display: inline;
    color: white;
    margin-left: 145px;
    text-shadow: black;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 3px 5px 2px #474747;
    color: #FFFFFF;
    z-index: 100px;
}

.forsocial {
    display: inline;
    background-color: #233E95;
    margin-left: 25px;
    height: 60px;
    float: right;
    position: absolute;
}

.forsocial button {
    height: 60px;
    margin-top: 0px;
    background-color: #233E95;
    border-style: outset;
    outline: none;
    width: 60px;
    border-color: #233E95;
    border-bottom: 0px solid #233E95;
}

.fa-facebook {
    margin-left: 0px;
    color: #FFFF;
    font-size: xx-large;
    margin-top: 0px;
    text-decoration: none;
    outline: none;
    border-style: outset;
    border-right: 0px solid #233E95;
}

.fa-twitter {
    color: #08A0E9;
    margin-left: 0px;
    text-decoration: none;
    font-size: xx-large;
    outline: none;
    border-style: outset;
    border-right: 0px solid #233E95;
}

.icon3 {
    color: #c4302b;
    margin-left: 0px;
    font-size: xx-large;
    text-decoration: none;
    outline: none;
    margin-top: -5px;
    border-style: outset;
}

.fa-youtube {
    color: #c4302b;
    margin-left: 0px;
    font-size: xx-large;
    text-decoration: none;
    outline: none;
    border-style: outset;
    border-right: 0px solid #233E95;
}

.topsecondheader input {
    height: 30px;
    width: 130px;
    margin-left: 40px;
    border-radius: 5px;
    outline: none;
    border-style: outset;
}

.topsecondheader .fa-search {
    border-radius: 5px;
}

.topsecondheader .search-container button:hover {
    background: #ccc;
}

.topthirdheader {
    background-color: white;
}


/*-----Headers End--------*/


/*................Menu Vertical
..................Side BAr ....*/

.wrapper {
    display: flex;
    align-items: stretch;
    margin-top: 15px;
    border-radius: 25px;
    position: relative;
    width: 100%;
    margin-top: 0px;
}

#sidebar {
    width: 390px;
    margin-top: 0px;
    margin-bottom: 15px;
    opacity: 1.9;
    margin-left: 5px;
}

.button {
    width: 220px;
    height: 50px;
    position: relative;
    margin-top: 8px;
}

.button--nina {
    background: #FFFF;
    color: black;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #6B826F 10px;
}

.button--color {
    color: black
}

.button--nina:hover {
    background-color: #6B826F;
}

.button--nina.button--inverted {
    background: #fff;
}

.but--nina {
    background: #FFFF;
    color: #107E7D;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #107E7D 10px;
}

.but--nina:hover {
    background-color: #107E7D;
}

.but1--nina {
    background: #FFF;
    color: #610345;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #610345 10px;
}

.but1--nina:hover {
    background-color: #610345;
}

.but2--nina {
    background: #FFFF;
    color: #FF6E0E;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #FF6E0E 10px;
}

.but2--nina:hover {
    background-color: #FF6E0E;
}

.but3--nina {
    background: #FFFF;
    color: #E3B505;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #E3B505 10px;
}

.but3--nina:hover {
    background-color: #E3B505;
}

.but4--nina {
    background: #FFFF;
    color: #27557C;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #27557C 10px;
}

.but4--nina:hover {
    background-color: #27557C;
}

.but5--nina {
    background: #FFFF;
    color: #2C9E92;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #2C9E92 10px;
}

.but5--nina:hover {
    background-color: #2C9E92;
}

.but6--nina {
    background: #FFFF;
    color: #56666B;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #56666B 10px;
}

.but6--nina:hover {
    background-color: #56666B;
}

.but7--nina {
    background: #FFFF;
    color: #B4C292;
    overflow: hidden;
    -moz-box-shadow: 0 0 14px grey;
    -webkit-box-shadow: 0 0 14px grey;
    box-shadow: 0 0 14px grey;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    outline: none;
    border-style: outset;
    border-right: solid #B4C292 10px;
}

.but7--nina:hover {
    background-color: #B4C292;
}


/*---- Same For All Buttons----*/

.button--nina>span {
    display: inline;
    padding: 1em 0;
    opacity: 0;
    color: #FFFF;
    font-weight: bold;
    font-size: large;
    font-family: Ebrima;
    letter-spacing: 2px;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    font-size: large;
    font-weight: bold;
    font-family: Ebrima;
    padding-top: 10px;
    padding-right: 10px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--nina:hover>span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--nina:hover>span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.10s;
}

.button--nina:hover>span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.15s;
}

.button--nina:hover>span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.20s;
}

.button--nina:hover>span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.25s;
}

.button--nina:hover>span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.30s;
}

.button--nina:hover>span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.35s;
}

.button--nina:hover>span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.40;
}

.button--nina:hover>span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.45s;
}

.button--nina:hover>span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.50s;
}

.button--nina:hover>span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.55s;
}


/*----- Down content -----*/

.dropdown-content1 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content1 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content1 button {
    display: block;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    position: relative;
    width: 190px;
    border-style: outset;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content1 button:hover {
    background-color: lightgray;
}

.dropdown-content1 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content1 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #107E7D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content1 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*--- DropDown two ---*/

.dropdown-content2 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content2 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content2 button {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    width: 190px;
    position: relative;
    border-style: outset;
    position: relative;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content2 button:hover {
    background-color: lightgray;
}

.dropdown-content2 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content2 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #610345;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content2 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*--- Drop Down 3 ---*/

.dropdown-content3 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content3 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content3 button {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    width: 190px;
    position: relative;
    border-style: outset;
    position: relative;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content3 button:hover {
    background-color: lightgray;
}

.dropdown-content3 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content3 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #FF6E0E;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content3 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*--- Drop down 4 --*/

.dropdown-content4 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content4 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content4 button {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    width: 190px;
    position: relative;
    border-style: outset;
    position: relative;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content4 button:hover {
    background-color: lightgray;
}

.dropdown-content4 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content4 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #E3B505;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content4 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*---- Drop Down 5 ---*/

.dropdown-content5 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content5 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content5 button {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    width: 190px;
    position: relative;
    border-style: outset;
    position: relative;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content5 button:hover {
    background-color: lightgray;
}

.dropdown-content5 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content5 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #27557C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content5 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*---- Drop Down 6 ---*/

.dropdown-content6 {
    margin-left: 10px;
    margin-top: 12px;
}

.dropdown-content6 ul {
    list-style: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    background-color: #fff;
}

.dropdown-content6 button {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
    width: 190px;
    position: relative;
    border-style: outset;
    position: relative;
    border-bottom: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropdown-content6 button:hover {
    background-color: lightgray;
}

.dropdown-content6 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 350;
}

.dropdown-content6 button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #2C9E92;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content6 button:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
}


/*......Drop Down and Vertical Menu End........*/


/*------Carasoul start-----*/

.carasoul {
    float: left;
    width: 1025px;
    height: 500px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    outline: none;
    border: solid 1px #555;
    border-bottom: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.carasoul-container {
    border-radius: 20px;
    outline: none;
    box-shadow: blue;
}

#captiontext {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-shadow: 2px 1px 0 #969696, 1px px 5px #aba8a8;
}

.carasoul .fadedbox {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 3ms ease-out;
    -moz-transition: all 3ms ease-out;
    -o-transition: all 3ms ease-out;
    -ms-transition: all 3ms ease-out;
    transition: all 3ms ease-out;
    opacity: 0;
    width: 775px;
    height: 450px;
    padding: 130px 120px;
}

.carasoul:hover .fadedbox {
    opacity: 2;
}

.carasoul .text {
    -webkit-transition: all 0.3ms ease-out;
    -moz-transition: all 0.3ms ease-out;
    -o-transition: all 0.3ms ease-out;
    -ms-transition: all 0.3ms ease-out;
    transition: all 0.3ms ease-out;
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
}

.carasoul .title {
    font-size: 3.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.4s;
    transition-duration: 0.5s;
}

.carasoul:hover .title,
.carasoul:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

#para {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding-left: 0px;
    font-size: 14px;
    color: black;
    outline: none;
}

#para:hover {
    background: grey;
}


/*------Right Side Text Quick Link(How doI?)-----*/

.right-content {
    display: block;
    align-items: flex-end;
    position: relative;
}

.mpc1 {
    width: 70px;
    height: 175px;
    margin-top: 5px;
    margin-left: 0px;
    font-weight: bold;
    font-size: large;
    outline: none;
    background-color: white;
    border-style: outset;
    border-left: solid #0e6489 2px;
    color: #0e6489;
}

.mpc2 {
    width: 70px;
    height: 175px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 0px;
    font-size: large;
    outline: none;
    border-style: outset;
    border-left: solid #8dbf54 2px;
    color: #8dbf54;
    background-color: white;
}

.mpc3 {
    width: 70px;
    height: 175px;
    font-weight: bold;
    font-size: large;
    margin-top: 1px;
    margin-left: 0px;
    outline: none;
    background-color: white;
    border-style: outset;
    border-left: solid #ff5e33 2px;
    color: #ff5e33;
}

.mpc1:hover {
    background-color: #0e6489;
    color: white;
}

.mpc2:hover {
    background-color: #8dbf54;
    color: white;
}

.mpc3:hover {
    background-color: #ff5e33;
    color: white;
}


/*-------right button ends---*/


/*---- Down text  ---*/

.tag {
    background-color: #1597BE;
    width: 1024px;
    margin-left: 240px;
    margin-top: -10px;
}


/*---- Down text ends -----*/

.Ql button {
    margin-top: 10px;
    border-style: outset;
    outline: none;
}


/*----FOOTER STARTS----*/

#footermain {
    font-size: small;
    background-color: black;
    position: relative;
    margin-top: 10px;
}

.Department {
    margin-top: 10px;
    margin-left: -50px;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rights1 {
    margin-top: 29px;
}

.rights {
    margin-top: 90px;
    font-size: small;
    margin-left: -110px;
}

.brand-logo-light {
    width: 70px;
    height: 75px;
    margin-top: 32px;
    margin-left: -105px;
    border-radius: 10px;
}

.Department {
    font-size: large;
    margin-top: 30px;
}

.contact-list {
    margin-left: 40px;
    ;
}


/*---icons----*/


/* Icons */

.row::after {
    content: "";
    clear: both;
    display: table;
    height: 100%;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 40px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}


/*=-footer Ends-=*/

.carasoul .captiontext2 {
    color: black;
}